@import "../../variables";

.visualizer {
  background-color: $section-bg;
  border-radius: $section-border-radius;

  width: 200px;
  height: 100px;
  margin-bottom: 20px;

  canvas {
    width: 200px;
    height: 100px;
  }
}