@import "../../variables";

.osc {
  align-items: center;
  justify-content: space-between;
  background-color: $section-bg;
  border-radius: $section-border-radius;
  display: flex;

  width: 325px;
  height: 100px;

  margin: 0 0 20px 0;
  padding: 0 20px 0 20px;

  position: relative;

  z-index: 1;

  &__label {
    color: #2a2a2a;
  }

  &__controls {
    & > * {
      margin-left: 20px;
      display: inline-block;
    }
  }
}